---
layout: base.njk
title: My Blog
---

<h2>Erie Outing Club Blog</h2>

<p></p>
<p></p>
<p></p>
<ul>
{% for post in collections.post %}
<h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
<p>{{ post.data.decription }}</p>
{% endfor %}
</ul>
