<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blank Page</title>
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.example.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Blank Page" />
    <meta property="og:description" content="This is a blank page." />
    <meta property="og:image" content="https://www.example.com/image.jpg" />
</head>
<body>
<h1>My Posts</h1>
{{ content | safe }}
</body>
</html>